<!DOCTYPE html>
<html>
  <head>
    <title>Chessapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Champions', champions_path %></li>
      <li><%= link_to 'Game', game_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
